*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-image: url("img/table.png");
    background-size: cover;
    font-family: "Exo 2", sans-serif;
}

.container {
    min-height: 100vh;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.6em;
    color: white;
}

.top {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.6em;
}

.btn {
    background-color: yellow;
    font-family: "Exo 2", sans-serif;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

.draw-cards {
    font-size: 1.2rem;
    align-self: stretch;
}

.card-slot {
    width: 100px;
    height: 140px;
    border: 2px solid black;
    border-radius: 8px;
}

.card {
    width: 100%;
    height: 100%;
}

.btn:disabled {
    pointer-events: none;
}
